<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Facemash</title>
</head>

<body>

    <header>
        <div class="container-header">
            <p>Facemash</p>
        </div>
    </header>

    <main>
        <div class="container-main">
            <h2>Were we let in for our looks? No. Will be judged on them? Yes.</h2>
            <h1>Who's Hotter? Click to Choose.</h1>
            <div class="card-vote">
                <div data-vote class="img-box" style="background-image: url('')"></div>
                <span>or</span>
                <div data-vote class="img-box" style="background-image: url('')"></div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container-footer">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="{{ url_for('routes.home') }}">Vote</a></li>
                <li><a href="{{ url_for('routes.ranking') }}">Ranking</a></li>
            </ul>
        </div>
    </footer>

    <div id="loading" class="loading-overlay">
        <div class="spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>